#centro {
    display: flex;
    align-items: center;
    justify-content:center;
}
  
.contenedor-formulario{
    width: 95%;
    height: 700px;
    background-image: url(./Imag/michael-weidner-h-rP5KSC2W0-unsplash.jpg);
    margin-top: 15px;
    background-size: cover;
    background-position: right;
    color: white;
}

.Titulo{
 text-align: center;
 font-family: sans-serif;
 font-size: 40px;
}

.datos{
    margin-bottom: 24px;
}

.formulario-contacto{
    padding: 30px 0px 0px 350px;
}

.formulario-label {
    display: block;
    font-family: sans-serif;
    margin-bottom: 8px;
    color:white;
    font-weight: 500;
}

.formulario-input {
    display: block;
    width: 70%;
    border: 1px solid white;
    border-radius: 3px;
    line-height: 25px;

}

#mensaje{
    padding: 40px 0px;
}

.boton-formulario{
    width: 70%;
    background-color:darkred;
    color: white;
    border: 1px solid darkred;
    border-radius: 3px;
    height: 30px;
}


@media (max-width: 768px) {

    .formulario-input {
        width: 100%;
    }

    .boton-formulario {
        width: 100%;
    }

    .formulario-contacto{
        padding: 0px 20px;
    }
}

